Repository netobserv/netobserv-ebpf-agent, pull requests merged in 2022-09, with the labels that each got.

#39 Performance optimization using eBPF aggregation
  Makefile
  bpf/README.md
  bpf/flow.h
  bpf/flows.c
  docs/measurements.pptx
  e2e/basic/common.go
  e2e/basic/flow_test.go
  e2e/cluster/base/03-flp.yml
  e2e/cluster/kind_test.go
  e2e/kafka/manifests/20-flp-transformer.yml
  go.mod
  go.sum
  pkg/agent/agent.go
  pkg/agent/agent_darwin.go
  pkg/agent/agent_linux.go
  pkg/agent/agent_test.go
  pkg/agent/config.go
  pkg/agent/filter.go
  pkg/ebpf/bpf_bpfeb.go
  pkg/ebpf/bpf_bpfeb.o
  pkg/ebpf/bpf_bpfel.go
  pkg/ebpf/bpf_bpfel.o
  pkg/ebpf/tracer.go
  pkg/ebpf/tracer_test.go
  pkg/flow/account.go
  pkg/flow/account_test.go
  pkg/flow/record.go
  pkg/flow/record_test.go
  pkg/ifaces/informer.go
  pkg/ifaces/poller.go
  pkg/ifaces/poller_test.go
  pkg/ifaces/registerer.go
  pkg/ifaces/registerer_test.go
  pkg/ifaces/watcher.go
  pkg/ifaces/watcher_test.go
  pkg/pbflow/flow.pb.go
  scripts/generators.Dockerfile
  vendor/github.com/gavv/monotime/.travis.yml
  vendor/github.com/gavv/monotime/LICENSE
  vendor/github.com/gavv/monotime/README.md
  vendor/github.com/gavv/monotime/monotime.go
  vendor/github.com/gavv/monotime/monotime.s
  vendor/modules.txt
Labels: ok-to-test

#51 NETOBSERV-560: fix fragmentation of reported flows
  Makefile
  bpf/flows.c
  pkg/ebpf/bpf_bpfeb.o
  pkg/ebpf/bpf_bpfel.o
  pkg/ebpf/tracer.go
Labels: bug, ok-to-test

#54 NETOBSERV-550: fix inconsistent reporting of packets
  bpf/flows.c
  pkg/ebpf/bpf_bpfeb.o
  pkg/ebpf/bpf_bpfel.o
  pkg/ebpf/tracer_test.go
Labels: bug, ok-to-test

#55 NETOBSERV-589: send kafka flows as protobuf lines
  docs/config.md
  e2e/cluster/base/03-flp.yml
  e2e/kafka/manifests/20-flp-transformer.yml
  pkg/agent/agent.go
  pkg/agent/config.go
  pkg/exporter/grpc_proto.go
  pkg/exporter/kafka_json.go
  pkg/exporter/kafka_proto.go
  pkg/exporter/kafka_proto_test.go
  pkg/exporter/proto.go
Labels: breaking-change
